#library{
    background-image:url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?cs=srgb&dl=pexels-janko-ferlic-590493.jpg&fm=jpg);
    height:700px;
    background-size: cover;
    margin:-8px;
    color:white;
    font-family: 'Lato', sans-serif;
}
#library h1{ margin:12px;}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display:flex;
    list-style-type:none;
}
nav ul li{
    margin:0 1rem;
    font-weight: 700;
    cursor: pointer;

}
.modal,.modal-edit{
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    top:0;
    height:110%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal_content{
    background-color: white;
    padding:2rem 4rem;
    
}
#modal_title{
    font-family: 'Lato', sans-serif;
}
.modal_close-bar,.modal_close-bar-edit{
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem ;
    margin-top: -1rem;
    cursor: pointer;
}
input[type=text],input[type=number]{
    width:100%;
    padding:0.5rem;

}
button{
    width:103%;
    padding:0.5rem;
    background-color:cornflowerblue;
    border:none;
    color:white;
    transition:all 0.3s ease;
    cursor: pointer;
}
button:hover{
        background-color: darkblue;
}

.modal-hidden{
display:none;
}

#content{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 33px;
    align-items: center;
    color: white;

}
#formbox{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 10px;
    border: 3px solid gold;
    row-gap: 4.5px;
    width: 200px;
    font-size: 10px;
}
#formbox:hover{
    background-color: rgb(190, 211, 75);
}
#edit_all{
    padding-top: inherit;
    display: flex;
    justify-content: space-between;

}

#edit{
cursor: pointer;
}

#del{
    cursor: pointer;
}
#non_see_node,#non_see_node_2{
    display:none;
}
#save{
    display:none;
    cursor: pointer;
}

#sign{
    color:orange;
    font-weight:bold;
}